.transaction-top {
    margin-bottom: 30px;
}

.transaction-id {
    font-weight: 500;
    font-size: 8px;
    margin-bottom: 3px;
    color: #a3a3a3;
}

.transaction-date {
    font-weight: 500;
    margin-top: 3px;
}

.transaction-date-sub {
    font-size: 12px;
    font-weight: 500;
}

.transaction-record {
    margin-bottom: 10px;
}

.transaction-sub-text {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
}

.transaction-sub-text2 {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
}

.transaction-single-detail {
    margin-bottom: 10px;
}

.transaction-for-whom {
    margin-bottom: 10px;
    max-height: 150px;
    overflow: auto;
}

.transaction-type {
    margin-top: -5px;
}

.transaction-top-l {
    align-items: center;
}

.transaction-map {
    border-radius: 8px;
}

.transaction-map-marker {
    height: 30px;
    border: 2px solid #F5F4F7;
    box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.13);
    border-radius: 9999px;
}

@media (prefers-color-scheme: dark) {
    .transaction-map-marker {
        border-color: #606060;
    }
}
