.transparent-mask {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    z-index: 10;
    background: rgba(122, 122, 122, 0.2);
    cursor: pointer;
    backdrop-filter: saturate(180%) blur(20px);
}
