.main-page-container {
    padding: 20px;
    margin-top: 30px;
}

.main-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.main-title-l {
    display: flex;
    align-items: center;
}

.main-title-l :nth-child(1) {
    font-weight: 700;
    font-size: 35px;
    margin-right: 5px;
}

.main-title-l :nth-child(2) {
    cursor: pointer;
    color: #226df8;
}

