.main-page-container {
    padding: 20px;
    margin-top: 30px;
}

.main-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.main-title-l {
    display: flex;
    align-items: center;
}

.main-title-l :nth-child(1) {
    font-weight: 700;
    font-size: 35px;
    margin-right: 5px;
}

.main-title-l :nth-child(2) {
    cursor: pointer;
    color: #226df8;
}

.main-info-msg {
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #A3A3A3;
}

.main-avatar-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.main-avatar {
    cursor: pointer;
}

.main-avatar-list-text {
    font-weight: 500;
    cursor: pointer;
}