body{
    margin: 0 auto;
    border: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    box-sizing: border-box;
    color: #1e1f1f;
    background-color: #F5F4F7;
    position: relative;
    max-width: 500px;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
        background-color: #0a0a0a;
    }
}


.small-title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}


.small-hover-btn {
    border-radius: 8px;
    padding: 5px;
    transition: background-color 0.2s;
    cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
    .small-hover-btn:hover {
        background-color: #f1f1f1;
    }
}

@media (prefers-color-scheme: dark) {
    .small-hover-btn:hover {
        background-color: #222;
    }
}


.small-hover-btn-deep {
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

@media (hover: hover) and (pointer: fine) {
    .small-hover-btn-deep:hover {
        background-color: #e0e0e0;
    }
}

@media (prefers-color-scheme: dark) {
    .small-hover-btn-deep:hover {
        background-color: #222;
    }
}


.flex-vertical-split {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-horizon-split {
    display: flex;
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.horizon-split {
    height: 1px;
    width: 100%;
    background-color: #e4e4e4;
}

@media (prefers-color-scheme: dark) {
    .horizon-split {
        background-color: #282828;
    }
}

.BMap_cpyCtrl {
    display: none;
}

.anchorBL {
    display: none;
}

.transparent-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    cursor: pointer;
    animation: mask-display 0.3s ease-out forwards;
}

@keyframes mask-display {
    from {
        background: rgba(122, 122, 122, 0);
        backdrop-filter: saturate(100%) blur(0px);
    }
    to {
        background: rgba(122, 122, 122, 0.2);
        backdrop-filter: saturate(180%) blur(20px);
    }
}

@media (prefers-color-scheme: dark){
    @keyframes mask-display {
        from {
            background: rgba(100, 100, 100, 0);
            backdrop-filter: saturate(100%) blur(0px);
        }
        to {
            background: rgba(100, 100, 100, 0.2);
            backdrop-filter: saturate(180%) blur(20px);
        }
    }
}
